langchain
langchain-text-splitters
langchain-community
langchain-openai
langchain-groq
langchain-google-genai
langsmith
python-dotenv
faiss-cpu
langgraph
streamlit
openai
ipykernel
langgraph-cli[inmem]
