langchain
langchain-text-splitters
langchain-community
langchain-openai
langchain-groq
langchain-google-genai
langchain-huggingface
langsmith
python-dotenv
faiss-cpu
langgraph
streamlit
openai
ipykernel
langgraph
google-generativeai
sentence-transformers
langchain-tavily
streamlit
logfire
logfire[httpx]
